.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store

# ignore large file that contains every fish seen at BON 
# this file is only used to query PTAGIS, but is not actually an input to the modeling workflow
Data/PTAGIS_queries/BON_sthd_2005-06-01_2025_01_23.csv

# ignore the map files
map_files/

# ignore scripts that are used to generate figures that are not in the paper
R/07_model_analysis/07-05.1_presentation_temperature_effects_plots.R
R/07_model_analysis/07-06.1_presentation_spilldays_effects_plots.R

# ignore scripts that were used to explore data
R/10_data_summaries.R
R/11_miscellaneous_analyses.R