.Rproj.user
.Rhistory
.RData
.Ruserdata

# ignore large file that contains every fish seen at BON 
# this file is only used to query PTAGIS, but is not actually an input to the modeling workflow
Data/PTAGIS_queries/BON_sthd_2005-06-01_2025_01_23.csv

